[class*="__container"] {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Colors
$greenColor: #018fa3;
$lightgreenColor: #4eca30;
$violetColor: #955eea;
$yellowColor: #ffe41b;
$orangeColor: #ffa724;
$pinkColor: #ff4d94;
$whiteColor: #fff;
$blackColor: #000;

// Botton
.btn {
	font-size: 24px;
	font-weight: 500;
	color: $whiteColor;
	border-radius: 40px;
	cursor: pointer;
	padding: 19px 60px 20px;
	text-transform: capitalize;
}

body {
	font-family: "Commissioner", sans-serif;
	color: $blackColor;
	font-size: 24px;
	line-height: 1.25;
}

// header
.header {
	position: absolute;
	left: 0;
	right: 0;

	// .header__container

	&__container {
	}

	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
	}

	// .header__menu

	&__menu {
	}
}
.logo {
}
.nav {
}
.menu {
	display: flex;
	gap: 40px;

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		font-size: 16px;
		font-weight: 500;
	}
}
.phone {
	// .phone__link

	&__link {
		position: relative;
		padding-left: 50px;
		font-size: 18px;
		font-weight: 600;
		&::before {
			position: absolute;
			content: url(../img/phone-img.svg);
			top: -10px;
			left: 0;
			height: 40px;
			width: 40px;
		}
	}
}

// mektebi
.mektebi {
	padding: 264px 0 212px;
	background: url("../img/mektebi-bg2.png") right top no-repeat, url("../img/mektebi-bg.png") 0 0 no-repeat;

	// .mektebi__container

	&__container {
	}

	// .mektebi__inner

	&__inner {
	}

	// .mektebi__title

	&__title {
		margin-bottom: 44px;
	}

	// .mektebi__text

	&__text {
		max-width: 532px;
		margin-bottom: 44px;
	}

	// .mektebi__btn

	&__btn {
		font-size: 20px;
		font-weight: 500;
		border-radius: 30px;
		background: #fae01a;
		box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
		cursor: pointer;
		padding: 19px 43px 21px 45px;
		position: relative;
		&::after {
			position: absolute;
			left: 0;
			top: 20px;
			content: "";
			border-radius: 30px;
			min-width: 100%;
			height: 43px;
			background: #fae01a;
			filter: blur(20px);
			z-index: -1;
		}
	}
}
.title {
	font-size: 48px;
	font-weight: 600;
	span {
		font-size: 59px;
		color: $greenColor;
	}
}

// about
.about {
	padding-top: 127px;

	// .about__container

	&__container {
	}

	// .about__inner

	&__inner {
	}

	// .about__top

	&__top {
		margin-bottom: 115px;
	}

	// .about__bottom

	&__bottom {
	}
}
.top-about {
	display: flex;
	justify-content: space-between;

	// .top-about__content

	&__content {
		align-self: center;
		padding-left: 100px;
		position: relative;
		&::before {
			position: absolute;
			content: url(../img/top-about-decor.svg);
			top: -76px;
			left: 41px;
			z-index: -1;
		}
	}

	// .top-about__text

	&__text {
		max-width: 460px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 48px;
			top: -24px;
			width: 440px;
			height: 204px;
			border-radius: 30px;
			background-color: #fff7be;
			z-index: -1;
		}
	}

	// .top-about__image

	&__image {
		border-radius: 30px;
		position: relative;
		&::after {
			position: absolute;
			content: url(../img/about-dotted.png);
			left: 33px;
			top: 33px;
			z-index: -1;
		}
	}

	// .top-about__img

	&__img {
	}
}
.bottom-about {
	display: flex;
	justify-content: space-between;

	// .bottom-about__content

	&__content {
		align-self: center;
		padding-right: 132px;
		position: relative;
		&::before {
			position: absolute;
			content: url(../img/bottom-about-decor.svg);
			bottom: -45px;
			right: 35px;
			z-index: -1;
		}
	}

	// .bottom-about__text

	&__text {
		max-width: 460px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 48px;
			top: -24px;
			width: 440px;
			height: 172px;
			border-radius: 30px;
			background-color: #fff7be;
			z-index: -1;
		}
	}

	// .bottom-about__image

	&__image {
		border-radius: 30px;
		position: relative;
		&::after {
			position: absolute;
			content: url(../img/about-dotted.png);
			left: -33px;
			top: 33px;
			z-index: -1;
		}
	}

	// .bottom-about__img

	&__img {
	}
}

// directions

.directions {
	padding: 107px 0 59px;

	// .directions__container

	&__container {
	}

	// .directions__inner

	&__inner {
		position: relative;
	}

	// .directions__content

	&__content {
		position: absolute;
		top: 45%;
		left: 45%;
		transform: translate(-35%, -60%);
		display: flex;
		flex-direction: column;
	}

	// .directions__text

	&__text {
		max-width: 375px;
		text-align: center;
		margin-top: 16px;
	}

	// .directions__top

	&__top {
		margin-bottom: 26px;
	}

	// .directions__center

	&__center {
		margin-bottom: 55px;
	}

	// .directions__bottom

	&__bottom {
	}
}
.top-desc {
	display: flex;
	justify-content: space-between;
	padding: 0 203px;

	// .top-desc__item

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .top-desc__img

	&__img {
	}

	// .top-desc__text

	&__text {
		max-width: 140px;
		text-align: center;
	}
}
.center-desc {
	display: flex;
	justify-content: space-between;
	padding: 0 102px;

	// .center-desc__item

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	// .center-desc__img

	&__img {
	}

	// .center-desc__text

	&__text {
		max-width: 140px;
		text-align: center;
	}
}
.bottom-desc {
	padding: 0 204px;
	display: flex;
	justify-content: space-between;

	// .bottom-desc__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		&_bottom {
			padding-top: 92px;
		}
	}

	// .bottom-desc__img

	&__img {
	}

	// .bottom-desc__text

	&__text {
		max-width: 140px;
		text-align: center;
	}
}

// catalog
.catalog {
	padding: 68px 0 80px;
	background-color: #f6faff;
	text-align: center;

	// .catalog__container

	&__container {
	}

	// .catalog__titile

	&__titile {
		font-size: 48px;
		font-weight: 600;
		margin-bottom: 68px;
	}

	// .catalog__slider

	&__slider {
		position: relative;
		&::before {
			position: absolute;
			content: url(../img/catalog-decor1.svg);
			left: -48px;
			top: 0;
		}
		&::after {
			position: absolute;
			content: url(../img/catalog-decor2.svg);
			right: 59px;
			top: -59px;
		}
	}
}
.slider {
	z-index: 1;
	position: relative;
	min-width: 0;

	/* Стрелка */
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin: -25px 0px 0px 0px;
		z-index: 10;
		font-size: 0;
		width: 24px;
		height: 60px;
		cursor: pointer;
	}

	/* Стрелка влево */
	.slick-arrow.slick-prev {
		left: -48px;
		background: url("../img/slider-arrow-left.svg") 0 0 / 100% no-repeat;
	}

	/* Стрелка вправо */
	.slick-arrow.slick-next {
		right: -48px;
		background: url("../img/slider-arrow-right.svg") 0 0 / 100% no-repeat;
	}

	// .slider__item

	&__item {
		position: relative;
		flex: 0 1 387px;
		min-height: 778px;
	}
}

.item-slider {
	background-color: $whiteColor;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 52px 34px -27px rgba(225, 225, 225, 0.15);
	display: flex;
	flex-direction: column;
	padding: 0 0 60px;

	// .item-slider__title

	&__title {
		padding: 26px 5px;
		text-transform: uppercase;
		font-weight: 700;
		color: $whiteColor;
		&_green {
			background-color: $greenColor;
		}
		&_violet {
			background-color: $violetColor;
		}
		&_lightgreen {
			background-color: $lightgreenColor;
		}
		&_yellow {
			background-color: $yellowColor;
		}
		&_pink {
			background-color: $pinkColor;
		}
		&_orange {
			background-color: $orangeColor;
		}
	}

	// .item-slider__body

	&__body {
		padding: 60px 5px;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	// .item-slider__value

	&__value {
		font-size: 48px;
		font-weight: 600;
		margin-bottom: 24px;
	}

	// .item-slider__age

	&__age {
		margin-bottom: 8px;
	}

	// .item-slider__desc

	&__desc {
		margin-bottom: 48px;
	}

	// .item-slider__list

	&__list {
		margin-bottom: 60px;
	}

	// .item-slider__btn

	&__btn {
		display: inline-block;
		text-transform: capitalize;
		align-self: center;
		justify-self: end;
		&_green {
			background-color: $greenColor;
		}
		&_violet {
			background-color: $violetColor;
		}
		&_lightgreen {
			background-color: $lightgreenColor;
		}
		&_yellow {
			background-color: $yellowColor;
		}
		&_pink {
			background-color: $pinkColor;
		}
		&_orange {
			background-color: $orangeColor;
		}
	}
}
.list-item-slider {
	&__item {
		padding: 12px 0;
		border-bottom: 1px solid transparent;
		border-image: url(../img/list-item-decor.png) 50 round round;
		&:not(:last-child) {
			margin-bottom: 12px;
		}
		&_nowrap {
			white-space: nowrap;
		}
	}
}

// Ограничивающая оболочка
.slick-list {
	overflow: hidden;
}
// Лента слайдов
.slick-track {
	display: flex;
	gap: 20px;
}

.show-more {
	color: $greenColor;
	cursor: pointer;
}

// certificate
.certificate {
	padding: 60px 0;
	position: relative;
	&::before {
		position: absolute;
		content: url(../img/certificate-decor1.svg);
		top: 68зч;
		left: 0;
	}

	// .certificate__container

	&__container {
	}

	// .certificate__title

	&__title {
		font-size: 48px;
		font-weight: 600;
		margin-bottom: 60px;
		text-align: center;
	}

	// .certificate__list

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 10;
		&::after {
			position: absolute;
			content: url(../img/certificate-decor2.svg);
			bottom: -42px;
			right: -35px;
			z-index: -1;
		}
	}
}
.list-certificate {
	// .list-certificate__item

	&__item {
	}

	// .list-certificate__img

	&__img {
	}
}

// reviews

.reviews {
	// .reviews__container

	&__container {
	}

	// .reviews__title

	&__title {
		font-size: 48px;
		font-weight: 600;
		margin-bottom: 60px;
		text-align: center;
	}

	// .reviews__slider

	&__slider {
	}
}
.slider-reviews {
	z-index: 1;
	position: relative;
	min-width: 0;

	// .slider-reviews__item
	&__item {
	}

	/* Стрелка */
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin: -25px 0px 0px 0px;
		z-index: 10;
		font-size: 0;
		width: 24px;
		height: 60px;
		cursor: pointer;
	}

	/* Стрелка влево */
	.slick-arrow.slick-prev {
		left: -48px;
		background: url("../img/slider-arrow-left.svg") 0 0 / 100% no-repeat;
	}

	/* Стрелка вправо */
	.slick-arrow.slick-next {
		right: -48px;
		background: url("../img/slider-arrow-right.svg") 0 0 / 100% no-repeat;
	}
}
.item-reviews {
	border-radius: 30px;
	border: 4px solid $greenColor;
	padding: 36px 22px 36px 36px;

	// .item-reviews__user

	&__user {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 12px;
	}

	// .item-reviews__text

	&__text {
		font-size: 20px;
	}
}
