[class*=__container] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.btn {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  padding: 19px 60px 20px;
  text-transform: capitalize;
}

body {
  font-family: "Commissioner", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.25;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
}

.phone__link {
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.phone__link::before {
  position: absolute;
  content: url(../img/phone-img.svg);
  top: -10px;
  left: 0;
  height: 40px;
  width: 40px;
}

.mektebi {
  padding: 264px 0 212px;
  background: url("../img/mektebi-bg2.png") right top no-repeat, url("../img/mektebi-bg.png") 0 0 no-repeat;
}
.mektebi__title {
  margin-bottom: 44px;
}
.mektebi__text {
  max-width: 532px;
  margin-bottom: 44px;
}
.mektebi__btn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  background: #fae01a;
  -webkit-box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 19px 43px 21px 45px;
  position: relative;
}
.mektebi__btn::after {
  position: absolute;
  left: 0;
  top: 20px;
  content: "";
  border-radius: 30px;
  min-width: 100%;
  height: 43px;
  background: #fae01a;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

.title {
  font-size: 48px;
  font-weight: 600;
}
.title span {
  font-size: 59px;
  color: #018fa3;
}

.about {
  padding-top: 127px;
}
.about__top {
  margin-bottom: 115px;
}
.top-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-about__content {
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 100px;
  position: relative;
}
.top-about__content::before {
  position: absolute;
  content: url(../img/top-about-decor.svg);
  top: -76px;
  left: 41px;
  z-index: -1;
}
.top-about__text {
  max-width: 460px;
  position: relative;
}
.top-about__text::after {
  content: "";
  position: absolute;
  left: 48px;
  top: -24px;
  width: 440px;
  height: 204px;
  border-radius: 30px;
  background-color: #FFF7BE;
  z-index: -1;
}
.top-about__image {
  border-radius: 30px;
  position: relative;
}
.top-about__image::after {
  position: absolute;
  content: url(../img/about-dotted.png);
  left: 33px;
  top: 33px;
  z-index: -1;
}
.bottom-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-about__content {
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 132px;
  position: relative;
}
.bottom-about__content::before {
  position: absolute;
  content: url(../img/bottom-about-decor.svg);
  bottom: -45px;
  right: 35px;
  z-index: -1;
}
.bottom-about__text {
  max-width: 460px;
  position: relative;
}
.bottom-about__text::after {
  content: "";
  position: absolute;
  left: 48px;
  top: -24px;
  width: 440px;
  height: 172px;
  border-radius: 30px;
  background-color: #FFF7BE;
  z-index: -1;
}
.bottom-about__image {
  border-radius: 30px;
  position: relative;
}
.bottom-about__image::after {
  position: absolute;
  content: url(../img/about-dotted.png);
  left: -33px;
  top: 33px;
  z-index: -1;
}
.directions {
  padding: 107px 0 59px;
}
.directions__inner {
  position: relative;
}
.directions__content {
  position: absolute;
  top: 45%;
  left: 45%;
  -webkit-transform: translate(-35%, -60%);
      -ms-transform: translate(-35%, -60%);
          transform: translate(-35%, -60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.directions__text {
  max-width: 375px;
  text-align: center;
  margin-top: 16px;
}
.directions__top {
  margin-bottom: 26px;
}
.directions__center {
  margin-bottom: 55px;
}
.top-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 203px;
}
.top-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-desc__text {
  max-width: 140px;
  text-align: center;
}

.center-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 102px;
}
.center-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.center-desc__text {
  max-width: 140px;
  text-align: center;
}

.bottom-desc {
  padding: 0 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-desc__item_bottom {
  padding-top: 92px;
}
.bottom-desc__text {
  max-width: 140px;
  text-align: center;
}