[class*=__container] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.btn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  background: #fae01a;
  -webkit-box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 19px 43px 21px 45px;
}

body {
  font-family: "Commissioner", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.25;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
}

.phone__link {
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.phone__link::before {
  position: absolute;
  content: url(../img/phone-img.svg);
  top: -10px;
  left: 0;
  height: 40px;
  width: 40px;
}