@charset "UTF-8";
[class*=__container] {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 10px;
}

.btn {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  border-radius: 40px;
  cursor: pointer;
  padding: 19px 60px 20px;
  text-transform: capitalize;
}

body {
  font-family: "Commissioner", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.25;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
}

.phone__link {
  position: relative;
  padding-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.phone__link::before {
  position: absolute;
  content: url(../img/phone-img.svg);
  top: -10px;
  left: 0;
  height: 40px;
  width: 40px;
}

.mektebi {
  padding: 264px 0 212px;
  background: url("../img/mektebi-bg2.png") right top no-repeat, url("../img/mektebi-bg.png") 0 0 no-repeat;
}
.mektebi__title {
  margin-bottom: 44px;
}
.mektebi__text {
  max-width: 532px;
  margin-bottom: 44px;
}
.mektebi__btn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  background: #fae01a;
  -webkit-box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 20px 40px -27px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 19px 43px 21px 45px;
  position: relative;
}
.mektebi__btn::after {
  position: absolute;
  left: 0;
  top: 20px;
  content: "";
  border-radius: 30px;
  min-width: 100%;
  height: 43px;
  background: #fae01a;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

.title {
  font-size: 48px;
  font-weight: 600;
}
.title span {
  font-size: 59px;
  color: #018fa3;
}

.about {
  padding-top: 127px;
}
.about__top {
  margin-bottom: 115px;
}
.top-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-about__content {
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 100px;
  position: relative;
}
.top-about__content::before {
  position: absolute;
  content: url(../img/top-about-decor.svg);
  top: -76px;
  left: 41px;
  z-index: -1;
}
.top-about__text {
  max-width: 460px;
  position: relative;
}
.top-about__text::after {
  content: "";
  position: absolute;
  left: 48px;
  top: -24px;
  width: 440px;
  height: 204px;
  border-radius: 30px;
  background-color: #fff7be;
  z-index: -1;
}
.top-about__image {
  border-radius: 30px;
  position: relative;
}
.top-about__image::after {
  position: absolute;
  content: url(../img/about-dotted.png);
  left: 33px;
  top: 33px;
  z-index: -1;
}
.bottom-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-about__content {
  -ms-flex-item-align: center;
      align-self: center;
  padding-right: 132px;
  position: relative;
}
.bottom-about__content::before {
  position: absolute;
  content: url(../img/bottom-about-decor.svg);
  bottom: -45px;
  right: 35px;
  z-index: -1;
}
.bottom-about__text {
  max-width: 460px;
  position: relative;
}
.bottom-about__text::after {
  content: "";
  position: absolute;
  left: 48px;
  top: -24px;
  width: 440px;
  height: 172px;
  border-radius: 30px;
  background-color: #fff7be;
  z-index: -1;
}
.bottom-about__image {
  border-radius: 30px;
  position: relative;
}
.bottom-about__image::after {
  position: absolute;
  content: url(../img/about-dotted.png);
  left: -33px;
  top: 33px;
  z-index: -1;
}
.directions {
  padding: 107px 0 59px;
}
.directions__inner {
  position: relative;
}
.directions__content {
  position: absolute;
  top: 45%;
  left: 45%;
  -webkit-transform: translate(-35%, -60%);
      -ms-transform: translate(-35%, -60%);
          transform: translate(-35%, -60%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.directions__text {
  max-width: 375px;
  text-align: center;
  margin-top: 16px;
}
.directions__top {
  margin-bottom: 26px;
}
.directions__center {
  margin-bottom: 55px;
}
.top-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 203px;
}
.top-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-desc__text {
  max-width: 140px;
  text-align: center;
}

.center-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 102px;
}
.center-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.center-desc__text {
  max-width: 140px;
  text-align: center;
}

.bottom-desc {
  padding: 0 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-desc__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-desc__item_bottom {
  padding-top: 92px;
}
.bottom-desc__text {
  max-width: 140px;
  text-align: center;
}

.catalog {
  padding: 68px 0 80px;
  background-color: #f6faff;
  text-align: center;
}
.catalog__titile {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 68px;
}
.catalog__slider {
  position: relative;
}
.catalog__slider::before {
  position: absolute;
  content: url(../img/catalog-decor1.svg);
  left: -48px;
  top: 0;
}
.catalog__slider::after {
  position: absolute;
  content: url(../img/catalog-decor2.svg);
  right: 59px;
  top: -59px;
}

.slider {
  z-index: 1;
  position: relative;
  min-width: 0;
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -25px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 24px;
  height: 60px;
  cursor: pointer;
}
.slider .slick-arrow.slick-prev {
  left: -48px;
  background: url("../img/slider-arrow-left.svg") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: -48px;
  background: url("../img/slider-arrow-right.svg") 0 0/100% no-repeat;
}
.slider__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 387px;
          flex: 0 1 387px;
  min-height: 778px;
}

.item-slider {
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0px 52px 34px -27px rgba(225, 225, 225, 0.15);
          box-shadow: 0px 52px 34px -27px rgba(225, 225, 225, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 60px;
}
.item-slider__title {
  padding: 26px 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}
.item-slider__title_green {
  background-color: #018fa3;
}
.item-slider__title_violet {
  background-color: #955eea;
}
.item-slider__title_lightgreen {
  background-color: #4eca30;
}
.item-slider__title_yellow {
  background-color: #ffe41b;
}
.item-slider__title_pink {
  background-color: #ff4d94;
}
.item-slider__title_orange {
  background-color: #ffa724;
}
.item-slider__body {
  padding: 60px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.item-slider__value {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 24px;
}
.item-slider__age {
  margin-bottom: 8px;
}
.item-slider__desc {
  margin-bottom: 48px;
}
.item-slider__list {
  margin-bottom: 60px;
}
.item-slider__btn {
  display: inline-block;
  text-transform: capitalize;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
}
.item-slider__btn_green {
  background-color: #018fa3;
}
.item-slider__btn_violet {
  background-color: #955eea;
}
.item-slider__btn_lightgreen {
  background-color: #4eca30;
}
.item-slider__btn_yellow {
  background-color: #ffe41b;
}
.item-slider__btn_pink {
  background-color: #ff4d94;
}
.item-slider__btn_orange {
  background-color: #ffa724;
}

.list-item-slider__item {
  padding: 12px 0;
  border-bottom: 1px solid transparent;
  -o-border-image: url(../img/list-item-decor.png) 50 round round;
     border-image: url(../img/list-item-decor.png) 50 round round;
}
.list-item-slider__item:not(:last-child) {
  margin-bottom: 12px;
}
.list-item-slider__item_nowrap {
  white-space: nowrap;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.show-more {
  color: #018fa3;
  cursor: pointer;
}

.certificate {
  padding: 60px 0;
  position: relative;
}
.certificate::before {
  position: absolute;
  content: url(../img/certificate-decor1.svg);
  top: 68зч;
  left: 0;
}
.certificate__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
  text-align: center;
}
.certificate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}
.certificate__list::after {
  position: absolute;
  content: url(../img/certificate-decor2.svg);
  bottom: -42px;
  right: -35px;
  z-index: -1;
}

.reviews__title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 60px;
  text-align: center;
}
.slider-reviews {
  z-index: 1;
  position: relative;
  min-width: 0;
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
}
.slider-reviews .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -25px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 24px;
  height: 60px;
  cursor: pointer;
}
.slider-reviews .slick-arrow.slick-prev {
  left: -48px;
  background: url("../img/slider-arrow-left.svg") 0 0/100% no-repeat;
}
.slider-reviews .slick-arrow.slick-next {
  right: -48px;
  background: url("../img/slider-arrow-right.svg") 0 0/100% no-repeat;
}

.item-reviews {
  border-radius: 30px;
  border: 4px solid #018fa3;
  padding: 36px 22px 36px 36px;
}
.item-reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}
.item-reviews__text {
  font-size: 20px;
}

.contacts {
  padding: 80px 0 87px;
}
.contacts__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 112px;
     -moz-column-gap: 112px;
          column-gap: 112px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 57px;
}
.contacts__content {
  background-color: #018fa3;
  color: #fff;
  padding: 12px 41px 38px 42px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 50px 50px -27px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 50px 50px -27px rgba(0, 0, 0, 0.1);
  position: relative;
}
.contacts__content::before {
  position: absolute;
  content: url(../img/contacts-decor1.svg);
  top: -43px;
  left: 34px;
  z-index: -1;
}
.contacts__title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.contacts__list dt {
  font-weight: 600;
  margin-bottom: 8px;
}
.contacts__list dd {
  margin-bottom: 20px;
}
.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-contacts__image {
  position: relative;
}
.bottom-contacts__image::before {
  position: absolute;
  content: url(../img/contacts-decor2.svg);
  top: 58px;
  left: -86px;
  z-index: -1;
}
.bottom-contacts__image::after {
  position: absolute;
  content: url(../img/contacts-decor3.svg);
  bottom: 44px;
  right: -58px;
  z-index: -1;
}